<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="chap01-life-cycle-lecture-source">
        <wb-resource deploy-path="/" source-path="/web" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <property name="java-output-path" value="/chap01-life-cycle-lecture-source/build/classes"/>
        <property name="context-root" value="chap01"/>
    </wb-module>
</project-modules>
